
<%= javascript_tag  do %>


  $(document).ready(function(){

  $("#skills").html("<%= escape_javascript(render 'skills') %>");

    $("#keywords").keyup(function() {
  console.log('a');
      var form = $(this).parents("form");
      var url = form.attr("action");
      var formData = form.serialize();
      $.get(url, formData, function(html) {
      });
    });

  $("tr[data-link]").click(function() {
  $("#selected_skills").append(this.dataset.link + ',');
  $("#selected_skills_labels").append(' <span class="label label-info">' + this.dataset.link + '</span> ');
    updateWorkers($("#selected_skills").text());

  });

  });

  function updateWorkers(selected_skills){
    $.ajax({
      type: 'GET',
      url: '/workers?keywords=' + selected_skills,
      success: function(data){
        $("#workers").html(data);
      },
      dataType: 'html'
    });
  }


<% end %>