
<%= javascript_tag  do %>

  $("#skills").html("<%= escape_javascript(render 'skills') %>");
  $("#keywords").keyup(function () {
  var form = $(this).parents("form");
  var url = form.attr("action");
  var formData = form.serialize();
  $.get(url, formData, function (html) {

  });
  });

  $("tr[data-link]").click(function () {
  $("#selected_skills_labels").append(' <span class="label label-info">' + this.dataset.link + '</span> ');
  updateWorkers(this.dataset.link);
  });


  function updateWorkers(skill_name) {
  $.ajax({
  type: 'GET',
  url: '/workers/skill?skill=' + skill_name,
  success: function (data) {
  $("#workers").html(data);
  }, error: function(data){
  console.log(data);
  $("#workers").html(data.responseText);
  },
  dataType: 'html'
  });
  };


<% end %>