
$("#skills").html("<%= escape_javascript(render 'skills') %>");

$("tr[data-link]").click(function () {
 $("#selected_skills_labels").append(' <span class="label label-info">' + this.dataset.link + '</span> ');
  updateWorkers(this.dataset.link);
});


