<% unless current_user.blank? %>

  <%= form_tag({ controller: "skills", action: "search" }, method: "get", remote: true) do %>
    <div class="skill_search">
      <input id="keywords" name="keywords" type="text" autocomplete="off" placeholder="Search skills" class="form-control"/>
    </div>
    <input type=hidden id="selected_skills"/>
    <div id="selected_skills_labels"><a href="javascript:window.location.href=window.location.href">Reset</a></div>
    <p>
    <div id="skills"></div>
    </p>
  <% end %>

  <% if current_customer %>
    <%= render 'initial_customers_js' %>
  <% else %>
    <%= render 'initial_workers_js' %>
  <% end %>

  <div id="workers"></div>

<% else %>
  <%= render 'default' %>
<% end %>
