<div>
  <% @workers.each do |worker| %>
  <span class="worker-box">
    <div class="worker_img">
      <%= image_tag worker.image_url %>
    </div>
    <%= worker.email %>
    <br>
    <% worker.skills.each do |skill| %>
      <span class="label label-info" style="margin-right: 2px;">
        <%= skill.name %>
      </span>
    <% end %>
    <div style="margin-top: 5px;" data-no-turbolink>
      <a href="<%= workers_customer_path(worker.id) %>" class="btn btn-primary" type="button">
        Hire! <span class="badge"> <%= worker.customers.count %> </span>
      </a>
    </div>
  </span>
  <% end %>
  <br>
  <%= paginate @workers, param_name: 'workers_page', :remote => true %>
</div>