// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skills-table > tbody > tr:hover {
  cursor: pointer;
  cursor: hand;
  background-color: lightslategray;
}

.skill_search {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 25%;
}

#workers {
  @extend .skill_search;
  margin-top: 10px;
  width: 90%;
}

.table td {
  text-align: center;
}

#skills {
  @extend .skill_search;
  width: 50%;
}

#selected_skills_labels {
  @extend #skills;
}

.worker-box {
  outline: 1px solid lightslategray;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

#centre {
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}