<!DOCTYPE html>
<html>
<head>
  <title>SkilledWorker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
<div style="float:right;margin-right: 10px;">
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</div>
<% end %>
<%= yield %>

</body>
</html>
